@media (max-width: 1200px) {
  .media-container {
    height: 160px;
  }
}

@media (max-width: 991px) {
  .media-container {
    height: 150px;
  }
}

@media (max-width: 767px) {
  .article-design {
    flex: 1 1 calc(50% - 10px);
  }

  .list-design .media {
    height: 75px;
  }
}

@media (max-width: 575px) {
  .media-container {
    height: 130px;
  }
}

@media (max-width: 420px) {
  .media-container {
    height: 120px;
  }
}

.list-design {
  flex: 1 1 calc(100% - 20px);
}
